---
import Layout from "../components/Layout.astro";
---
<Layout>
<div class="gra h-screen text-center ">
<h1 class="text-black mb-4 p-3 text-3xl md:text-6xl dark:text-white">Meet <span class="a">Parcoil Store</span></h1>
<div class="mb-6">
<p class="text-black dark:text-white">The best apps for your iPhone. Discover amazing apps. Get exclusive access to the latest and greatest.</p>
</div>
<button class="btn btn-primary mr-1">Coming Soon!</button>
<a class="btn" href="/./store/tweaks/">View Tweaks</a>
<div class="text-center flex mx-auto justify-center">
<img src="/./store_land.png" height="900px" width="700px">
</div>
</div>

</Layout>
<style>
    .a {
        background: hsla(200, 100%, 51%, 1);
        background: linear-gradient(45deg, hsla(200, 100%, 51%, 1) 0%, hsla(236, 94%, 68%, 1) 63%);
        background: -moz-linear-gradient(45deg, hsla(200, 100%, 51%, 1) 0%, hsla(236, 94%, 68%, 1) 63%);
        background: -webkit-linear-gradient(45deg, hsla(200, 100%, 51%, 1) 0%, hsla(236, 94%, 68%, 1) 63%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#04abff", endColorstr="#626cfa", GradientType=1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>
