---
import Layout from "../components/Layout.astro";
---

<Layout title="HEHE">
    <div class="flex text-center justify-center flex-col mx-auto" style="width: 400px;">
        <h1 class="text-3xl dark:text-white mt-2" transition:name="hero">uhh text</h1>
        <!-- <h1 class="text-3xl dark:text-white mt-2" transition:name="hero">Racist Cringe kid named Tristan</h1> -->
        <video id="tristan-video" controls autoplay loop class="rounded-lg ">
            <source src="/tristan.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <script>
            const video = document.getElementById("tristan-video");
            video.volume = 0.2; // set volume to 50%
        </script>
    </div>
</Layout>