---
const { title, ...rest } = Astro.props;
import Nav from "./Nav.astro";
import Footer from "./Footer.astro";
import "../dist.css";
import { ViewTransitions } from 'astro:transitions';

---

<html lang="en" transition:persist>
	<head>
        <meta name="title" content="Parcoil">
<meta name="description" content="Welcome to The Parcoil Network, your go-to for cutting-edge online tools and desktop apps.">
<meta name="keywords" content="Online Tools,Password Generator,Desktop Applications,Cybersecurity,Data Encryption,Digital Privacy,Utility Software,Web Development,Internet Security,Secure Authentication,Multi-factor Authentication (MFA),Cloud Services,Virtual Private Networks (VPN),Data Protection,Online Safety,Secure Access,Software Solutions,User Authentication,Identity Verification,Web Utilities,Password Management,Strong Passwords,Secure Storage,Data Security,Encryption Tools,Authentication Solutions,Identity Protection,Online Privacy Tools,Secure Communication,Digital Identity Management,Secure Transactions,Access Control,Cyber Defense,Information Security,Privacy Enhancement,Online Protection,Software Development,Cross-platform Applications,Privacy Policies,Cybersecurity Awareness,Parcoil,Sparkle,Lunaar,theparcoilnetwork,ParcoilNetwork,Parcoil-Network,Github">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="author" content="The Parcoil Network">

		<meta charset="utf-8" />
		<link rel="icon" href="/./logo.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <script src="./dark.js"></script>
		<title>{title} - Parcoil</title>
        <ViewTransitions />
	</head>
	<body {...rest} transition:persist>
        <Nav/>
		<slot/>
	</body>

    <Footer/>
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
</html>
    <style>
  @font-face {
    font-family: 'Coil-Sans';
    src: url('/./Croogla4F.ttf') format('truetype');
}

        @font-face {
            font-family: 'SF';
            src: url('/./Coil-Sans.otf') format('opentype');
        }

        * {
            font-family: 'SF', sans-serif;
        }

        .parcoil-logo {
            font-family: 'Coil-Sans' !important;   
        }
    </style>
