---
const { title, ...rest } = Astro.props;
import Nav from "./Nav.astro";
import Footer from "./Footer.astro";
import "../dist.css";
import { ViewTransitions } from 'astro:transitions';

---

<html lang="en" transition:persist>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/./logo.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <script src="./dark.js"></script>
		<title>{title} - Parcoil</title>
        <ViewTransitions />
	</head>
	<body {...rest} transition:persist>
        <Nav/>
		<slot/>
	</body>

    <Footer/>
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
</html>
    <style>
  @font-face {
    font-family: 'Coil-Sans';
    src: url('/./Croogla4F.ttf') format('truetype');
}

        @font-face {
            font-family: 'SF';
            src: url('/./Coil-Sans.otf') format('opentype');
        }

        * {
            font-family: 'SF', sans-serif;
        }

        .parcoil-logo {
            font-family: 'Coil-Sans' !important;   
        }
    </style>
